.chat-container {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
    border: 1px solid #212121;
    background-color: #212121;
    overflow-y: auto;
    margin: 0 auto;
    margin-top: 35px;
    width: 80%;
    max-width: 800px;
}

.messages-wrapper {
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.finance-cover {
    overflow-y: auto;
    display: flex;
    width: 50%;
    padding: 10px;
}

.input-field-finance {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #212121;
    border-radius: 20px;
    outline: none;
    margin-top: 10px;
}

.send-button-finance {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #282C34;
    color: #DFF5CE;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

.search-results {
    background-color: #f0f0f0;
    list-style-type: none;
    padding: 0;
}

.search-result-item {
    background-color: #e0e0e0;
    padding: 5px 10px;
    margin-bottom: 2px;
    border-radius: 5px;
}