.login-overlay {
    width: 15vw;
}

.login-box {
    width: 15vw;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    padding: 20px 30px;
    text-align: center;
}

.checkB {
    text-align: left;
    margin-left: 20px;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

@media (min-width: 1270px) and (max-width: 1921vw) {
    .login-overlay {
        width: 400px;
    }

    .login-box {
        width: 400px;
    }
}

@media (min-width: 991px) and (max-width: 1270px) {
    .login-overlay {
        width: 35vw;
    }

    .login-box {
        width: 35vw;
    }
}

@media (max-width: 991px) {
    .login-overlay {
        width: 92vw;
    }

    .login-box {
        width: 92vw;
    }
}