.message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 20px;
    max-width: 80%;
    word-wrap: break-word;
    border: 1px solid #666;
}

.message.bot {
    background-color: #212121;
    color: #ECECEC;
    align-self: flex-start;
    box-shadow: 2px 2px 4px rgba(255, 165, 0, 0.5);
}

.message.user {
    background-color: #212121;
    color: #ECECEC;
    align-self: flex-end;
    box-shadow: 2px 2px 4px #DFF5CE;
}

.message-text {
    margin-bottom: 4px;
    text-align: left;
}

.message-time {
    font-size: 0.75em;
    color: #aaa;
}

.sender-name {
    font-size: 0.8em;
    font-weight: bold;
    color: #666;
    text-align: left;
}