.alert-success {
  background-color: #212121;
  border: #721c24;
  border-radius: 10px;
  color: #DFF5CE !important;
  font-size: 14px;
}

.alert-warning {
  background-color: #212121;
  border: #721c24;
  border-radius: 10px;
  color: #DFF5CE !important;
  font-size: 14px;
}

.register-box {
  width: 200px;
  height: 170px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  text-align: center;
}

.checkTerms {
  text-align: left;
  margin-left: 20px;
}
