.app {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
  z-index: 3;
}

.app-header {
  position: fixed;
  background-color: #282c34;
  padding: 20px;
  color: #dff5ce;
  font-size: 20px;
  height: 20px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 5;
}