body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #212121;
  /* Hafif mavi tonunda bir arkaplan */
  color: #4A4A4A;
  /* Koyu gri metin rengi */
}

a {
  color: #007BFF;
  /* Canlı mavi link rengi */
  text-decoration: none;
  /* Link altı çizgilerini kaldır */
}

a:hover {
  text-decoration: underline;
  /* Fare imleci linkin üzerine geldiğinde altını çiz */
}